-- prize_winners 테이블의 unique constraint 수정
-- 문제: 현재 UNIQUE (prize_draw_id, profile_id)로 되어 있어서
-- 같은 참가자가 한 경품추첨에서 여러 경품에 당첨될 수 없음

-- 1. 먼저 현재 제약 조건 이름 확인
SELECT conname, contype, pg_get_constraintdef(oid) 
FROM pg_constraint 
WHERE conrelid = 'prize_winners'::regclass
AND contype = 'u';

-- 2. 실제 제약 조건 이름으로 삭제 (위에서 확인한 이름 사용)
-- 예: prize_winners_prize_draw_id_profile_id_key
ALTER TABLE prize_winners DROP CONSTRAINT IF EXISTS prize_winners_prize_draw_id_profile_id_key;

-- 3. 올바른 제약 조건 추가
-- 같은 참가자가 같은 경품에 중복 당첨되는 것만 방지
-- 다른 경품에는 당첨될 수 있음
ALTER TABLE prize_winners ADD CONSTRAINT prize_winners_unique_prize_participant 
UNIQUE (prize_draw_id, prize_id, profile_id);

-- 4. 최종 제약 조건 확인
SELECT conname, contype, pg_get_constraintdef(oid) 
FROM pg_constraint 
WHERE conrelid = 'prize_winners'::regclass;